{% extends "base-simple.html" %}

{% block container %}

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>404!</h1>
        <h2>Sorry, page not found</h2><br>
        <p>You better try our awesome search:</p>
        <div class="">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary waves-effect waves-light btn-lg" type="button">Search</button>
                </span>
            </div>
        </div><br>
        <a class="btn btn-purple waves-effect waves-light" href="{{url_for('dashboard')}}"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
    </div>
</div>

{% endblock %}
