{% extends "base-simple.html" %}

{% block container %}

<div class="wrapper-page">
    <div class="ex-page-content text-center">
        <h1>500</h1>
        <h2 class="font-light">Internal Server Error.</h2><br>
        <p>Why not try refreshing your page? or you can contact <a href="{{url_for('contact_support')}}">support</a></p>
        
        <a class="btn btn-purple waves-effect waves-light" href="{{url_for('dashboard')}}"><i class="fa fa-angle-left"></i> Back to Dashboard</a>
    </div>
</div>


{% endblock %}
